In [ ]:
%load_ext sql
%sql postgresql://postgres:Password@127.0.0.1/true_film_db

### SQL Queries

In [110]:
%sql SELECT * FROM top_movies where 1 = 2;

 * postgresql://postgres:***@127.0.0.1/true_film_db
0 rows affected.

[]

##### Checking number of rows loaded in final table

In [5]:
%sql SELECT count(1) FROM top_movies;

 * postgresql://postgres:***@127.0.0.1/true_film_db
1 rows affected.

[(1010,)]

##### Checking howmany records have same ratio

As DENSE_RANK is applied for loading TOP 1000 records, same ranked records were also loaded

In [109]:
%sql SELECT * FROM \
            (SELECT ratio,count(1) num_rec from top_movies GROUP BY ratio) r\
            WHERE r.num_rec>1;

 * postgresql://postgres:***@127.0.0.1/true_film_db
8 rows affected.

[(Decimal('4.615385'), 2),
 (Decimal('2.0'), 3),
 (Decimal('66666.666667'), 2),
 (Decimal('1.923077'), 2),
 (Decimal('1.833333'), 2),
 (Decimal('4.0'), 3),
 (Decimal('6.666667'), 2),
 (Decimal('12.0'), 2)]

#### Selecting the genre of Top 5 movies

In [22]:
%sql SELECT top.title,top.ratio,m.genres from top_movies top \
        INNER JOIN movies_metadata m ON m.title = top.title \
        ORDER BY top.ratio DESC LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/true_film_db
5 rows affected.

[('Chasing Liberty', Decimal('1916666.666667'), [{'id': 35, 'name': 'Comedy'}, {'id': 10749, 'name': 'Romance'}]),
 ('The Cookout', Decimal('1333333.333333'), [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}]),
 ('Never Talk to Strangers', Decimal('1066666.666667'), [{'id': 53, 'name': 'Thriller'}, {'id': 10749, 'name': 'Romance'}]),
 ('To Rob a Thief', Decimal('667052.166667'), [{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 35, 'name': 'Comedy'}, {'id': 10769, 'name': 'Foreign'}]),
 ('Deadfall', Decimal('555555.555556'), [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name': 'Drama'}, {'id': 53, 'name': 'Thriller'}])]

#### Top 10 movies that belong to 'Comedy' genre in the top 1000 movies

In [113]:
%sql SELECT top.title,g.genre,top.wiki_url \
        FROM (SELECT title,arr.g_object->>'name' genre\
                FROM movies_metadata,\
                jsonb_array_elements(genres) with ordinality arr(g_object, position) \
                WHERE arr.g_object->>'name' = 'Comedy')g\
        INNER JOIN top_movies top ON g.title = top.title ORDER  BY ratio desc Limit 10;

 * postgresql://postgres:***@127.0.0.1/true_film_db
10 rows affected.

[('Chasing Liberty', 'Comedy', 'https://en.wikipedia.org/wiki/Chasing_Liberty'),
 ('The Cookout', 'Comedy', 'https://en.wikipedia.org/wiki/The_Cookout'),
 ('To Rob a Thief', 'Comedy', 'https://en.wikipedia.org/wiki/To_Rob_a_Thief'),
 ('All at Once', 'Comedy', 'https://en.wikipedia.org/wiki/All_at_Once'),
 ('Death at a Funeral', 'Comedy', 'https://en.wikipedia.org/wiki/Death_at_a_Funeral'),
 ('Death at a Funeral', 'Comedy', 'https://en.wikipedia.org/wiki/Death_at_a_Funeral'),
 ("Dr. Horrible's Sing-Along Blog", 'Comedy', 'https://en.wikipedia.org/wiki/Dr._Horrible%27s_Sing-Along_Blog'),
 ('Chaos', 'Comedy', 'https://en.wikipedia.org/wiki/Chaos'),
 ('Fishtales', 'Comedy', 'https://en.wikipedia.org/wiki/Fishtales'),
 ('Janky Promoters', 'Comedy', 'https://en.wikipedia.org/wiki/Janky_Promoters')]

Production companies who stand in top 5

In [134]:
%sql SELECT rr.* FROM ( \
        SELECT title,wiki_url,wiki_abstract,arr.pc_object->>'name' Production_Company_name, \
                DENSE_RANK() OVER(ORDER BY ratio DESC) ratio_rank \
                FROM top_movies, \
                jsonb_array_elements(production_companies) with ordinality arr(pc_object, position) \
        ) as rr \
        WHERE rr.ratio_rank<=5

 * postgresql://postgres:***@127.0.0.1/true_film_db
9 rows affected.

[('Chasing Liberty', 'https://en.wikipedia.org/wiki/Chasing_Liberty', '| producer       =', 'ETIC Films', 1),
 ('Chasing Liberty', 'https://en.wikipedia.org/wiki/Chasing_Liberty', '| producer       =', 'C.R.G. International', 1),
 ('Chasing Liberty', 'https://en.wikipedia.org/wiki/Chasing_Liberty', '| producer       =', 'Trademark Films', 1),
 ('Chasing Liberty', 'https://en.wikipedia.org/wiki/Chasing_Liberty', '| producer       =', 'Micro Fusion 2003-2', 1),
 ('Chasing Liberty', 'https://en.wikipedia.org/wiki/Chasing_Liberty', '| producer       =', 'Alcon Entertainment', 1),
 ('The Cookout', 'https://en.wikipedia.org/wiki/The_Cookout', '| runtime        = 97 minutes', 'Cookout Productions', 2),
 ('Never Talk to Strangers', 'https://en.wikipedia.org/wiki/Never_Talk_to_Strangers', '| music          = Pino DonaggioSteve Sexton', 'TriStar Pictures', 3),
 ('To Rob a Thief', 'https://en.wikipedia.org/wiki/To_Rob_a_Thief', '| runtime        = 98 minutes', 'Narrow Bridge Films', 4),
 ('Deadfall', 'https://en.wikipedia.org/wiki/Deadfall', 'Deadfall may refer to:', 'Trimark Pictures', 5)]