example: postgresql://username:password@hostname/dbname

In [4]:
%load_ext sql
%sql postgresql://postgres:Abcd1234@127.0.0.1/true_film_db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Tables created in this project

MOVIES_METADATA

In [5]:
%sql select column_name, data_type, character_maximum_length, column_default, is_nullable\
from INFORMATION_SCHEMA.COLUMNS where table_name='movies_metadata'

 * postgresql://postgres:***@127.0.0.1/true_film_db
9 rows affected.

[('tmdb_id', 'integer', None, None, 'NO'),
 ('imdb_id', 'integer', None, None, 'YES'),
 ('genres', 'jsonb', None, "'{}'::jsonb", 'YES'),
 ('original_title', 'character varying', None, None, 'NO'),
 ('title', 'character varying', None, None, 'YES'),
 ('budget', 'numeric', None, None, 'NO'),
 ('release_date', 'date', None, "'infinity'::date", 'YES'),
 ('revenue', 'numeric', None, None, 'NO'),
 ('production_companies', 'jsonb', None, "'{}'::jsonb", 'YES')]

MOVIE_LINKS

In [6]:
%sql select column_name, data_type, character_maximum_length, column_default, is_nullable\
from INFORMATION_SCHEMA.COLUMNS where table_name='movie_links'

 * postgresql://postgres:***@127.0.0.1/true_film_db
3 rows affected.

[('movie_id', 'integer', None, None, 'NO'),
 ('imdb_id', 'integer', None, None, 'NO'),
 ('tmdb_id', 'integer', None, None, 'YES')]

MOVIE_RATINGS

In [8]:
%sql select column_name, data_type, character_maximum_length, column_default, is_nullable\
from INFORMATION_SCHEMA.COLUMNS where table_name='movie_ratings'

 * postgresql://postgres:***@127.0.0.1/true_film_db
2 rows affected.

[('movie_id', 'integer', None, None, 'YES'),
 ('rating', 'double precision', None, None, 'YES')]

TOP_MOVIES - Final table where top 1000 movies are loaded

In [9]:
%sql select column_name, data_type, character_maximum_length, column_default, is_nullable\
from INFORMATION_SCHEMA.COLUMNS where table_name='top_movies';

 * postgresql://postgres:***@127.0.0.1/true_film_db
9 rows affected.

[('title', 'character varying', None, None, 'NO'),
 ('budget', 'numeric', None, None, 'NO'),
 ('year', 'integer', None, None, 'NO'),
 ('revenue', 'numeric', None, None, 'NO'),
 ('rating', 'numeric', None, None, 'YES'),
 ('ratio', 'numeric', None, None, 'YES'),
 ('production_companies', 'jsonb', None, "'{}'::jsonb", 'NO'),
 ('wiki_url', 'text', None, None, 'YES'),
 ('wiki_abstract', 'text', None, None, 'YES')]